# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# R specific
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Rapp.history

# Jupyter/IPython
.ipynb_checkpoints

# Conda environments
env/
.venv/
venv/
*.conda
*.env

# Logs and temporary files
*.log
*.out
*.aux
*.tmp
*.swp
*.bak

# OS files
.DS_Store
Thumbs.db

# Bioinformatics tools
salmon_index/
star_index/
kallisto_index/
*.bam
*.sam
*.fastq
*.fq
*.fastq.gz
*.fq.gz

# Nextflow work and cache
work/
.nf/
.nextflow*

